@font-face {
  font-family: "iconfont"; /* Project id 3904282 */
  src: url('iconfont.woff2?t=1677460693764') format('woff2'),
       url('iconfont.woff?t=1677460693764') format('woff'),
       url('iconfont.ttf?t=1677460693764') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fullscreen-exit:before {
  content: "\e69b";
}

.icon-fullscreen:before {
  content: "\e69c";
}

.icon-gitee-fill-round:before {
  content: "\e686";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-MySQL:before {
  content: "\e682";
}

