#manage-main{
  z-index: 5;
  width: 100vw;
  height: 100vh;
  #manage-navbar{
    position: relative;
    right: -10vw;
    width: 90vw;
    height: 6vh;
    background: #fff;
    border-bottom: 1px solid #e6e6e6;
  }
  #manage-content{
    display: flex;
    width: 100vw;
    height: 94vh;
    position: relative;
    #manage-listbar{
      overflow: hidden;
      width: 10vw;
      background: #FFFFFF;
      position: absolute;
      top:-6vh;
    }

    #manage-text{
      position: absolute;
      width: 90vw;
      height: 94vh;
      right: 0;
    }
  }

}
.router-lk{
  text-decoration: none;
}

@font-face {
  font-family: dengkuan;
  src: url(../font/dengkuan.woff2);
}
#manage-content-Title{
  position: absolute;
  top:0;
  left: 0;
  background: #ffffff;
  width: 12vw;
  height: 6vh;
  z-index: 999;
  text-align: center;
  line-height: 6vh;
  font-size: 1.2vw;
  color: black;
  font-family: dengkuan, serif;
  font-weight: revert;
}

#items:hover{
  background: #ffffff;
}
#items-text{
  font-weight: bolder;
  font-size: 18px;
}
.bread{
  text-align: center;
  line-height: 6vh;
  position: absolute;
  top: 3vh;
  left: 1vw;
}
#head{
  z-index: 999;
  width: 6vh;
  height: 6vh;
  position: absolute;
  right: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  #head-img{
    width: 5vh;
    height: 5vh;
    background: url("../img/head1.png") no-repeat;
    background-size: cover;
    border-radius: 8px;
    border: 1px solid #e6e6e6;
  }
  #box-main{
    position: absolute;
    display: inline-block;
    width: 10vh;
    height: 11vh;
    top:6vh;
    background: #FFFFFF;
    z-index: 999;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    border-radius: 8px;
    #setting{
      width: 100%;
      height: 3.5vh;
      border-bottom: 1px solid #e6e6e6;
      text-align: center;
      line-height: 3.5vh;
      transition: all 0.4s;
      font-size: 13px;
    }
    #setting:hover{
      cursor: pointer;
      background: #e8f4ff;
      color: #60aeff;
    }
    #dislogin{
      width: 100%;
      height: 3.5vh;
      text-align: center;
      line-height: 3.5vh;
      transition: all 0.4s;
      font-size: 13px;
    }
    #dislogin:hover{
      cursor: pointer;
      background: #e8f4ff;
      color: #60aeff;
    }
    #user{
      width: 100%;
      height: 4vh;
      text-align: center;
      line-height: 4vh;
      transition: all 0.4s;
      font-size: 13px;
    }
    #user:hover{
      cursor: pointer;
      background: #e8f4ff;
      color: #60aeff;
    }
  }
}
#setting-box{
  #drawer-title{
    font-size: 1.3vw;
    margin: 1vw;
    height: 4vh;
    color: #000;
  }
  #drawer-settings{
    margin: 0 0 0 1vw;
    ul{
      li{
        display: inline-block;
        text-align: center;
        height: 3vh;
        display: flex;
        align-items: center;
        .drawer-settings-item{
          display: inline-block;
          margin: 0 0.5vw 0 0 ;
          line-height: 3vh;

        }
        #kanbanniang-btn{
          vertical-align:center ;
        }
      }
    }
  }
}